.myNav {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 100vh;
  background: #273238;
  padding: 5px;
  float: left;
  color: #76878E; }

.myNav.animateClose {
  /*
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

    width: 50px;*/
  animation-name: close;
  animation-duration: 0.25s;
  width: 45px; }

.myNav.animateOpen {
  /* -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

    width: 100px;*/
  animation-name: open;
  animation-duration: 0.25s;
  width: 150px; }

@keyframes close {
  0% {
    width: 150px;
    color: transparent; }
  100% {
    width: 45px;
    color: #76878E; } }

@keyframes open {
  0% {
    width: 45px;
    color: transparent; }
  100% {
    width: 150px;
    color: #76878E; } }

.profil-container {
  height: 100px; }

.itemNav {
  width: 100%;
  height: 30px;
  margin-bottom: 5px;
  margin-top: 5px;
  cursor: pointer; }

.button {
  float: left; }

.hide {
  display: none;
  color: transparent; }

.itemName {
  line-height: 30px;
  padding-left: 10px; }

.toggleMenu {
  cursor: pointer;
  margin-left: 5px;
  font-size: 35px;
  color: #76878E; }

.header-nav {
  width: 100%;
  height: 50x;
  border: 1px solid #76878E; }

.iconMenu {
  font-size: 2em;
  color: #76878E !important; }

.item-container {
  display: flex;
  height: 35px;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 14px; }

.linkMenu {
  text-align: end;
  color: #76878E;
  text-decoration: none;
  line-height: 35px; }

.angleRight {
  padding-top: 12px; }
