@import "../../style/color.scss";

$size-nav-open:175px;
$size-nav-close: 50px;
$anim-duration: 0.25s;
.myNav {
    display: flex;
    flex-direction: column;
    width: $size-nav-open;
    height: 100vh;
    background: $color-nav-background;
    float: left;
    color: $color-nav-text;
    overflow: hidden;
}

.myNav.animateClose {
    /*
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

    width: 50px;*/
    animation-name: close;
    animation-duration: $anim-duration;
    width: $size-nav-close;
}

.myNav.animateOpen {
    /* -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

    width: 100px;*/
    animation-name: open;
    animation-duration: $anim-duration;
    width: $size-nav-open;
}

@keyframes close {
    0% {
        width: $size-nav-open;
        color: transparent;
    }
    100% {
        width: $size-nav-close;
        color: $color-nav-text
    }
}

@keyframes open {
    0% {
        width: $size-nav-close;
        color: transparent;
    }
    100% {
        width: $size-nav-open;
        color: $color-nav-text
    }
}

@keyframes displayAppName {
    0% {
        color: transparent;
    }
    100% {
        color: $color-nav-text
    }
}
@keyframes displaySeparator {
    0% {
        background : transparent;
    }
    100% {
        background : $color-nav-text
    }
}
.labelNav {
    display: flex;
    align-items: center;
    margin-left: 7px;
    height: 20px;
    overflow: hidden;
}

.labelNavContent {
    font-size: 0.7em;
    height:10px;
}
.navSeparator{
color: transparent;
background: $color-nav-text;
width: 100%;
height: 2px;
margin-bottom: 9px;
margin-top:9px;
animation-name: displaySeparator;
animation-duration: 1s;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    overflow: hidden;
    color: $color-nav-text !important;
    flex-direction: column;
}

.AppName {
    margin-top: 15px;
    animation-name: displayAppName;
    animation-duration: 2s;
    color: $color-nav-text;
}

.logoApp {
    font-size: 2em;
    color: inherit;
}

.itemNav {
    width: 100%;
    height: 30px;
    margin-bottom: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.button {
    float: left;
}

.hide {
    display: none;
    color: transparent;
}

.itemName {
    line-height: 30px;
    padding-left: 10px;
}

.toggleMenu {
    cursor: pointer;
    margin-left: 5px;
    font-size: 35px;
    color: $color-nav-text;
    margin-top: 4px;
}

.header-nav {
    width: 100%;
    height: 45px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset;
}

.iconMenu {
    font-size: 2em;
    color: inherit;
    float: left;
    margin-left: 12px;
}

.item-container {
    height: 40px;
    cursor: pointer;
    margin-bottom: 3px;
    overflow: hidden;
    padding-top: 7px;
}
.item-container:hover{
background: $color-nav-active;
}

.linkMenu {
    color: #76878E;
    text-decoration: none;
    line-height: 35px;
}

.linkMenuName {
    color: inherit;
    text-decoration: none;
    line-height: 35px;
    float: left;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin-left: 10px;
    font-size: 0.9em;
}

.angleRight {
    padding-top: 8px;
    align-self: auto;
    float: right;
    margin-right: 8px;
    font-size: 1em;
}

.active {
    background-color: $color-nav-active;
    color: $color-nav-text-active;
}

.profil {
    width: 200px;
    height: 45px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $color-nav-text;
}

.userName {
    margin-left: 10px;
}

.userAvatar {
    margin-right: 10px;
    font-size: 35px;
}
.userAvatar:hover{
    color: $color-nav-text-active; 
}